<?xml version="1.0"?>
<launch>

	<arg name="path_save"   default="/home/li/Downloads/bag"/>
	<arg name="topic"  	default="/velodyne_points /odom_localization /laser_buffer_size"/>
	<arg name="file_name"  	default="record"/>

	<group ns="record">
		<param name="path_save" type="str" value="$(arg path_save)"	/>
		<param name="topic" 	type="str" value="$(arg topic)"		/>
		<param name="file_name" type="str" value="$(arg file_name)"	/>
		<param name="seconds" value="30"/>
		<node name="record_ros" pkg="record_ros" type="record_ros" output="screen" respawn="true"/>
	</group>

</launch>

